.header {
  top: auto;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 63px;
  background-color: var(--color-primary);
}

.header-container,
.header-menu {
  width: 100%;
  height: 100%;
}

.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 93px;
  height: 47px;
}

.header-menu .logo img {
  width: 53px;
  height: 33px;
  object-fit: contain;
}

.header-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-menu ul > li,
.header-menu ul > li > a {
  height: 100%;
}

.header-menu ul > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--color-white);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.21em;
  line-height: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}
.header-menu ul > li > a {
  position: relative;
  border: 1px solid var(--color-primary);

  &:hover,
  &.active {
    &::after {
      transform: translateY(-3px);
      border: 1px solid #7aeae5;
      background-color: #387873;
    }
  }

  &::after {
    content: "";
    width: calc(100% + 2px);
    height: calc(100% + 3px);
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 0 !important;
    position: absolute;
    bottom: 0;
    left: -1px;
    transition: all 0.3s ease;
  }
}
.header-menu ul > li > a .box {
  position: absolute;
  z-index: 3;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease;

  img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}
.header-menu ul > li > a:hover .box,
.header-menu ul > li > a.active .box {
  transform: translate(-50%, -50%) scale(1);
}
.header-menu ul > li > a .text {
  transition: all 0.3s ease;
  position: relative;
  z-index: 3;
}
.header-menu ul > li > a:hover .text,
.header-menu ul > li > a.active .text {
  transform: translateY(12px);
}
.header-menu ul > li > a:hover,
.header-menu ul > li > a.active {
  background-color: #387873;
  border: 1px solid #7aeae5;
  border-bottom: 0;
  border-top: 0;
}

.header-menu .login {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 47px;
  padding: 0 20px;
  color: var(--color-white);
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.21em;
  line-height: 15px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6d9695;
  }
}
