.login {
  .cover {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 72px 64px;
    background-size: cover;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, #1e4842 15%, transparent 100%);
      z-index: 1;
    }
    .box {
      display: flex;
      flex-direction: column;
      gap: 180px;
      z-index: 4;
      .title {
        font-size: 48px;
        line-height: 1;
        color: #fff;
        font-family: "Boska Variable";
        font-weight: bold;
      }
      .img {
        display: inline-block;
        padding-bottom: 40px;
        border-bottom: 1px solid #c9a06a;
        margin-bottom: 12px;
      }
      .description {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
      }
    }
  }
  &-inner {
    display: grid;
    grid-template-columns: 4fr 6fr;
    height: 100%;
  }
  .login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .box-login {
      .title {
        color: #1e4842;
        font-size: 28px;
        line-height: 32px;
        font-family: "Boska Variable";
      }
      .sub {
        font-size: 11px;
        line-height: 13px;
        color: #8a8a8a;
      }
      .box-form {
        margin-top: 24px;
        min-width: 380px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .form-row {
          display: flex;
          flex-direction: column;
          gap: 6px;
          position: relative;
          &.password {
            input {
              padding-right: 56px;
            }
          }
          .toggle-password {
            position: absolute;
            top: calc(50% + 10px);
            right: 16px;
            transform: translateY(-50%);
            font-size: 11px;
            line-height: 13px;
            color: #1e4842;
            cursor: pointer;
          }
          label {
            font-size: 11px;
            line-height: 13px;
            color: #1e4842;
          }
          input {
            border: none;
            padding: 16px;
            border: 1px solid #e0ddd6;
            font-size: 11px;
            line-height: 13px;
            font-weight: 500;
          }
        }
      }
      .forgot-password {
        font-size: 11px;
        line-height: 13px;
        color: #1e4842;
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
      }
      .btn-login {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #387873;
        text-transform: uppercase;
        color: #fff;
        margin: 24px 0;
      }
      .sign-up-inner {
        display: flex;
        justify-content: center;
        gap: 4px;
        font-size: 11px;
        line-height: 13px;
        color: #8a8a8a;
        a {
          font-size: 11px;
          line-height: 13px;
          color: #1e4842;
        }
      }
    }
  }
}
.section-login {
  width: 100%;
  height: 100svh;
}
