<div class="header-container">
  <div class="header-menu">
    <a href="./" class="logo">
      <img src="./assets/images/logo-white.svg" alt="" />
    </a>
    <ul>
      <li>
        <a href="./locations.html"> Locations </a>
      </li>
      <li>
        <a href="./map.html"> map </a>
      </li>
      <li>
        <a href="./zoning.html"> Zoning </a>
      </li>
      <li>
        <a href="./floor-plan.html"> Floor plan </a>
      </li>
      <li>
        <a href="./brochure.html"> Brochure </a>
      </li>
      <li>
        <a href="./gallery.html"> Gallery </a>
      </li>
      <li>
        <a href="./contact.html"> Contact </a>
      </li>
    </ul>
    <a href="./login.html" class="login">Login</a>
  </div>
</div>
