<div class="header-container">
  <div class="header-menu">
    <a href="./" class="logo">
      <img src="./assets/images/logo-white-header.svg" alt="" />
    </a>
    <ul>
      <li>
        <a href="./locations.html">
          <div class="box">
            <img src="./assets/images/icon-location.svg" alt="" />
          </div>
          <div class="text">location</div>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <div class="box">
            <img src="./assets/images/icon-map.svg" alt="" />
          </div>
          <div class="text">map</div>
        </a>
      </li>
      <li>
        <a href="./zoning.html">
          <div class="box">
            <img src="./assets/images/icon-zoning.svg" alt="" />
          </div>
          <div class="text">Zoning</div>
        </a>
      </li>
      <li>
        <a href="./floor-plan.html">
          <div class="box">
            <img src="./assets/images/icon-floor-plan.svg" alt="" />
          </div>
          <div class="text">floor plan</div>
        </a>
      </li>
      <li>
        <a href="./brochure.html">
          <div class="box">
            <img src="./assets/images/icon-brochure.svg" alt="" />
          </div>
          <div class="text">brochure</div>
        </a>
      </li>
      <li>
        <a href="./gallery.html">
          <div class="box">
            <img src="./assets/images/icon-gallery.svg" alt="" />
          </div>
          <div class="text">Gallery</div>
        </a>
      </li>
      <li>
        <a href="./contact.html">
          <div class="box">
            <img src="./assets/images/icon-contact.svg" alt="" />
          </div>
          <div class="text">contact</div>
        </a>
      </li>
    </ul>
    <a href="./login.html" class="login">Login</a>
  </div>
</div>
